.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar, .navbar-default {
  background-image: linear-gradient(to right,rgb(2, 13, 27),#1c5386 100%);
}

.news_cards {
  min-height: auto;   /* SET THIS TO A GOOD VALUE */
  width:98%;
  margin: auto;
  margin-top: 37px;
  font-size: 15px;

}

.card-img{
  float:left;
  width:100%;
  height:100%;
  padding: 2%;
  border:solid#00000014;
  margin-left: -12px;
  font-family: Arial, Helvetica, sans-serif;
}

.date_tag{
  display:flex;
  justify-content: space-between;
  padding: 0em;
  margin-right: 8px;
  margin-bottom: 8px;
}

.tag{
  border-radius: 0.25rem;
  background-color: #645f60c7;
  padding: 5px;
  width: auto; 
  font-size: 11px;
  color: white;
  text-transform:uppercase;
  font-weight: 650;
}

.image{
 height:50%;
}

.container{
  padding: 1.25em;
  margin: 0;
  max-width: 100%;
}

.img_card{
  /* border:solid blue; */
  object-fit: cover;
}

.row{
  margin-left:0px;
}

.search_box{
  min-width: 14rem;
}

.form_search{
  min-width: 19%;
}

.form-inline .form-control {
  display:inline-block;
  width:100%;
  vertical-align:middle
 }

.description{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-decoration: none;
  color: black;
}

.date{
  font-style: italic;
  text-decoration: none;
  color: black;
}

.title{
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-decoration: none;
  color: black;
}
.label_text{
  color:white;
  position: relative;
  top:2px;
}
/* 
.Nytimes_label{
  
  padding-right: 8px;
} */
/* 
.guardian_label{
  padding-left:8px;
} */

.switch_label{
  position: relative;
  top: 6px;
}

.news_switch{
  margin-left:7px;
  padding:0em;
}
.right_menu{
  float:right;
}

.detailed{
  margin: 15px;
  padding: 15px;
}

.detailedImg{
  margin-left: 0px;
}

.detailed_body{
  padding:0rem;
}

.detailed_date{
 
  margin-left: 10px;
}

svg{
  margin-left: 99%;
}

.bkmrk{
  color:red;
  margin-left: 0;
  margin-top: 3%;
  
}

.date_tags{
  display: inline-flex;
  justify-content: space-between;

  margin-bottom: 7px;
}

.share{
  margin-left: 0;
}

.shareIcons{
  margin-left:0;
}

.share_bkmrk{
  display: inline-flex;
  width:115px;
  justify-content: space-between;
  margin-right: 2%;
}

.bkmr_header{
  color:white;
  margin-left: 0;
  margin-top: 3%;
}

.s_card_img{
  margin-left: 0;
}

.s_dateTag{
  margin-top: 0.75rem;
}

.truncatedText{
  overflow: hidden;
width:100%;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
/* word-wrap: break-word; */
}

.delete{
  margin-left: 0;
}

#business{
  background-color: cadetblue;
  border-radius: 0.25rem;
  /* background-color: rgb(11, 109, 76); */
  padding: 5px;
  width: auto; 
  font-size: 11px;
  color: white;
  text-transform:uppercase;
}

#world{
  background-color: #7848c4;
}

#politics{
  background-color:#46a37c;
}

#business{
  background-color:#4d9def
}

#sport, #sports{
  background-color: #ffc107;
  color:black
}

#technology{
  background-color: #9ed547;
  color:black
}

#guardian{
  background-color: #0d285b;
}

.fav_tag{
  margin-right: 9px;
}


.fav_modal .close{
  margin-top:-111px;
  margin-right:-14px
}

.Toastify_toast--default{
  color:black
}

.Toastify__toast-container{
  color:black
}

.Toastify__toast-body{
  color:black
}